body {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-default {
  font-size: 5vw;
  margin-top: 20px;
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-color: white;
  padding: 10px 10px;
}
.btn-default:hover {
  color: #2980b9;
  border-color: #2980b9;
}

.largeInput {
  height: 8vw;
  font-size: 5.4vw;
  margin-top: 10px;
}


h1 {
  color: white;
  font-size: 6vw;
  margin-top: 20px;
}

h3, h4 {
  color: white;
}

#joinDiv {
  display: none;
}
#roomCodeInput {
  text-transform: uppercase;
}

#playerList1 li, #playerList2 li{
  text-transform: capitalize;
}
.container {
  margin-top: 40px;
}

@media screen and (max-width: 780px) {
  .btn-default {
    font-size: 16vw;
  }
  .largeInput {
    height: 27vw;
    font-size: 12vw;
  }
  h1 {
    font-size: 14vw;
  }
}
