{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('games.static', filename='colorsGame.css')}}">
{% endblock %}
{% block body %}
{{ macros.navbar('Games', username )}}
    <h1> The Great
      <br>
      <span id="sColor"></span>
      <br>
      Color Game
    </h1>

    <div id="stripe">
      <button id="reset"> New Colors </button>
      <span id="message"></span>
      <button id="easy"> Easy </button>
      <button class="selected" id="hard"> Hard </button>
    </div>

    <div id="container">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>


<script src="{{url_for('games.static', filename='colorsGame.js')}}"> </script>
{% endblock %}
