{% extends 'base.html' %}

{% block content %}
<style>
 body { 
 	background: gray;
 	color: white;
 }
</style>
{{ room_info }}
<div id="joinRoomContainer" class="container" style="margin-top: 15px;">
	{% for flash in get_flashed_messages() %}
		{{ flash }}
	{% endfor %}
	<form method="POST" action='/pong/play'>
		<div class="row">
			<div class="col-sm-5">
				<input id="name" placeholder="Enter Username..." type="text" class="form-control">
			</div>	
			<div class="col-sm-5">
				<input id="roomCode" placeholder="Enter Room Code..." type="text" class="form-control">
			</div>	
			<div class="col-sm-2">
				<button id="joinRoom" type="button" class="btn btn-info form-control"> Join </button>
			</div>
		</div>
		<div class="checkbox">
		  <label><input id="ai" type="checkbox" value=""> AI </label>
		</div>
	</form>
</div>

<div id="startContainer" class="container" style="display: none;">
	<div class="text-center" style="margin-top: 15px;">
		<h3 id="room"> Room:  </h3>
		<h3> Players: <span id="players"> </span> -  First player to 7 wins! </h3>
		<button id="start" type="button" class="form-control btn btn-primary"> Start </button>
	</div>
</div>
<div class="container-fluid">
	<div id="playDiv" class="text-center" style="margin-top: 5px; display: none;">
		<div class="row">
			<div class="col-sm-6">
				<h3 id="p1"> {% if room_info|length >= 1 %} {{room_info[0][0]}} {% endif %} </h3>
			</div>
			<div class="col-sm-6">
				<h3 id="p2"> {% if room_info|length >= 2 %} {{room_info[1][0]}} {% endif %} </h3>
			</div>
		</div>
		<canvas id="pong" width="1600px" height="800px"> </canvas>
	</div>
</div>

<div class="container-fluid text-center" style="display: none;" id="winner">
	<div style="margin-top: 15px;" >
		<h1 id="winnerTitle"> </h1>
		<button type="button" class="btn btn-primary" id="restart"> Play Again? </button>
	</div>
</div>

<audio controls id="blip" style="display: none;	">
  <source src="{{url_for('static', filename='sound/pong.wav') }}" type="audio/wav">
</audio>


<script>
	function getParameterByName(name, url) {
	    if (!url) url = window.location.href;
	    name = name.replace(/[\[\]]/g, '\\$&');
	    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
	        results = regex.exec(url);
	    if (!results) return null;
	    if (!results[2]) return '';
	    return decodeURIComponent(results[2].replace(/\+/g, ' '));
	}

	var room = getParameterByName("room");
	if(room) { 
		$("#roomCode").val(room);
	}

</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
	var socket = io.connect('http://' + document.domain + ':' + location.port);
	var name;
	var room;
	socket.on('message', function(msg) { 
		console.log(msg);
	});

	/* User enters name and room code */
	$("#joinRoom").on("click", function() { 
		name = $("#name").val();
		room = $("#roomCode").val();
		socket.emit('join_pong_room', {'name': name, 'room': room});
	});

	/* User is confirmed to have joined a room */
	socket.on('joined_pong', function(json) { 
		if(json.name == name) { 
			$("#joinRoomContainer").fadeOut(function() { $("#startContainer").fadeIn(); });
		}
		$("#players").empty();
		for(var i = 0; i < json.room_info.length; i++) { 
			$("#players").append(json.room_info[i][0] + ", ");
		} 
		$("#room").html(json.room);
	});

	/* User clicks start to tell all players to start the game */
	$("#start, #restart").on("click", function() { 
		ai = $("#ai").prop("checked");
		$("#winner").fadeOut();
		socket.emit('start_pong');
	});

	/* Someone clicked start pong */
	socket.on('start_pong', function(json) { 
		 init(json);
	});	
</script>

<script>
	class Player { 
		constructor(id, y=0, x=0, speed=450, score=0) { 
			this.id = id;
			this.y = y;
			this.x = x;
			this.speed = speed;
			this.score = 0;
			this.movingDown = false;
			this.movingUp = false;
		}
	}

	class Ball { 
		constructor(x=0, y=0, ySpeed=150.0, xSpeed=750.0) { 
			this.y = y;
			this.x = x;
			this.ySpeed = ySpeed;
			this.xSpeed = xSpeed;
			this.moving = true;
		}
	}

	const PADDLE_WIDTH = 20;
	const PADDLE_HEIGHT = 100;
	var canvas = document.getElementById("pong");
	var ctx = canvas.getContext("2d");
	
	var player1;
	var player2;
	var myPlayer;
	var ball = new Ball(canvas.width / 2, canvas.height / 2);
	var delta = 0;
	var time = new Date().getTime();
	var ai = $("#ai").prop("checked");
	var started = false;
	var rotateTimer = new Date().getTime();
	var rotated = false;

	function init(json) { 
		if(!started) {
			started = true;
			
			if(json.room_info.length >= 2 || ai) { 
				player1 = new Player(json.room_info[0][0], canvas.height / 2 - PADDLE_HEIGHT / 2, 10);
				if(!ai)
					player2 = new Player(json.room_info[1][0], canvas.height / 2 - PADDLE_HEIGHT / 2, canvas.width - PADDLE_WIDTH - 10);
				else {
					player2 = new Player("ai", canvas.height / 2 - PADDLE_HEIGHT / 2, canvas.width - PADDLE_WIDTH - 10);
					player2.speed *= 2;
				}

				if(name == player1.id || ai) { 
					myPlayer = player1;
				} else { 
					myPlayer = player2;
				}


				$(window).on("keydown", function(e) { 
			        e.preventDefault();
					if(e.key == "ArrowUp") { 
						myPlayer.movingUp = true;
					} else if(e.key == "ArrowDown") { 
						myPlayer.movingDown = true;
					}

					 else if(e.key == "ArrowRight") { 
						myPlayer.movingRight = true;
					} else if(e.key == "ArrowLeft") { 
						myPlayer.movingLeft = true;
					}
				});

				$(window).on("keyup", function(e) { 
			        e.preventDefault();
					if(e.key == "ArrowUp") { 
						myPlayer.movingUp = false;
					} else if(e.key == "ArrowDown") { 
						myPlayer.movingDown = false;
					} else if(e.key == "ArrowRight") { 
						myPlayer.movingRight = false;
					} else if(e.key == "ArrowLeft") { 
						myPlayer.movingLeft = false;
					}
				}); 
			}  else { 
				alert("Not enough players to start the game!");
			}
			
		}
		$("#winner").fadeOut();
		$("#startContainer").fadeOut(function() { $("#playDiv").fadeIn(); });
			player2.score = 0;
			player1.score = 0;
		time = new Date().getTime();
		$("#p2").html(player2.id + ": " + player2.score);
		$("#p1").html(player1.id + ": " + player1.score);
		ball.moving=false;
		setTimeout(function() { ball.moving = true;}, 3000);
		window.requestAnimationFrame(update);
		
		//setInterval(update, 1000);
	}

	function update() { 
		var old = time;
		var collision = false; 
		var scored = false;
		time = new Date().getTime();
		delta = (time - old) / 1000;

		if(time - rotateTimer > 10000) { 
			if(rotated) { 
				//var i = 180;
				//var x = setInterval(function() { $(canvas).css({"transform": "rotate(" + i + "deg)"}); i++; if(i > 360) { clearInterval(x); }}, 10);
				rotated = false;
				rotateTimer = time + 10000;

			} else { 
				//var i = 0;
				//var x = setInterval(function() { $(canvas).css({"transform": "rotate(" + i + "deg)"}); i++; if(i > 180) { clearInterval(x); }}, 10);
				rotated = true;
				rotateTimer = time;

			}
		}

		ctx.fillStyle = "#343638";
		ctx.fillRect(0,0,canvas.width, canvas.height);
		
		ctx.strokeStyle = "white";
		ctx.beginPath();
		ctx.moveTo(canvas.width / 2, 0);
		ctx.lineTo(canvas.width / 2, canvas.height);
		ctx.stroke();

      	ctx.beginPath();
		ctx.fillStyle = "white";
		ctx.arc(ball.x, ball.y, 8, 0, 2 * Math.PI);
		ctx.fill();

		ctx.fillStyle = "red";
		ctx.fillRect(player1.x, player1.y, PADDLE_WIDTH, PADDLE_HEIGHT);

		ctx.fillStyle = "blue";
		ctx.fillRect(player2.x, player2.y, PADDLE_WIDTH, PADDLE_HEIGHT);

		if(myPlayer.movingUp && myPlayer.y > 0) { 
			myPlayer.y -= myPlayer.speed * delta;
		} else if(myPlayer.movingDown && myPlayer.y < canvas.height - PADDLE_HEIGHT) { 
			myPlayer.y += myPlayer.speed * delta;
		}

		/*if(myPlayer.movingRight) { 
			myPlayer.x += myPlayer.speed * delta;
		} else if(myPlayer.movingLeft) { 
			myPlayer.x -= myPlayer.speed * delta;
		}*/

		if(myPlayer.y <= 0) { 
			myPlayer.y += 1;
		} else if(myPlayer.y >= canvas.height - PADDLE_HEIGHT) { 
			myPlayer.y -= 1;
		}

		if(ball.y <= 7.5){ 
		ball.y += 5;
		ball.ySpeed = -ball.ySpeed;
		}
		else if(ball.y >= canvas.height - 7.5) { 
			ball.y -= 5;
			ball.ySpeed = -ball.ySpeed;
		}
		if(ball.x <= 0) { 
			player2.score++;
			ball.x = canvas.width / 2;
			ball.y = canvas.height / 2;
			ball.ySpeed = 0;
			ball.xSpeed = -ball.xSpeed;
			ball.moving = false;
						setTimeout(function() { ball.moving = true;}, 1000);

			$("#p2").html(player2.id + ": " + player2.score);
		}
		else if(ball.x >= canvas.width) { 
			player1.score++;
			ball.x = canvas.width / 2;
			ball.y = canvas.height / 2;
			ball.xSpeed = -ball.xSpeed;
			ball.ySpeed = 0;
			ball.moving=false;
			setTimeout(function() { ball.moving = true;}, 1000);
			$("#p1").html(player1.id + ": " + player1.score);
		}

		//upper half
		if((ball.y < (player1.y + PADDLE_HEIGHT / 2)) && (ball.y > (player1.y)) && (ball.x > player1.x - 10) && (ball.x < player1.x + 15 + PADDLE_WIDTH / 2)) { 
			ball.ySpeed -= 100;

			if(myPlayer.movingDown) { 
				ball.ySpeed += 300;
			} else if(myPlayer.movingUp) { 
				ball.ySpeed -= 300;
			}
			
			ball.x += 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
		}

		//lower half
		if((ball.y <= (player1.y + PADDLE_HEIGHT + 5)) && (ball.y >= (player1.y + PADDLE_HEIGHT / 2)) && (ball.x > player1.x - 10) && (ball.x < player1.x + 15 + PADDLE_WIDTH / 2))
		{ 
			ball.ySpeed += 100;	
				if(myPlayer.movingDown) { 
				ball.ySpeed += 300;
			} else if(myPlayer.movingUp) { 
				ball.ySpeed -= 300;
			}
			ball.x += 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
		}

		//upper
		if((ball.y < (player2.y + PADDLE_HEIGHT / 2)) && (ball.y > (player2.y - 10)) && (ball.x > player2.x - 5 - PADDLE_WIDTH / 2) && (ball.x < player2.x +10))
		{ 	
				if(myPlayer.movingDown) { 
				ball.ySpeed += 300;
			} else if(myPlayer.movingUp) { 
				ball.ySpeed -= 300;
			}
			ball.ySpeed -= 100;
			ball.x -= 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
		}

		//lower
		if((ball.y < (player2.y + PADDLE_HEIGHT + 10)) && (ball.y > (player2.y + PADDLE_HEIGHT / 2)) && (ball.x > player2.x - 5 - PADDLE_WIDTH / 2) && (ball.x < player2.x + 10)) { 
			ball.ySpeed += 100;	
			ball.x -= 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
				if(myPlayer.movingDown) { 
				ball.ySpeed += 300;
			} else if(myPlayer.movingUp) { 
				ball.ySpeed -= 300;
			}
		}

		if(ball.moving) {
			ball.x += ball.xSpeed * delta;
			ball.y += ball.ySpeed * delta;
			ball.xSpeed += 20 * delta;
			ball.ySpeed += 10 * delta;
		}

		if(player2.id == "ai") { 
			if(player2.y < ball.y - 10) { 
				player2.y += player2.speed * delta;
			} else if(player2.y > ball.y + 10) { 
				player2.y -= player2.speed * delta;
			}
		}
		

		socket.emit('upp', {'name': name, 'player1': player1, 'player2': player2, 'ball': ball});

		if(player1.score < 7 && player2.score < 7) {
			window.requestAnimationFrame(update);
		}
		else { 
			if(player1.score >= 7) { 
				$("#winnerTitle").html(player1.id + " wins!");
			} else { 
				$("#winnerTitle").html(player2.id + " wins!");
			}

			player2.score = 0;
			player1.score = 0;
			$("#p2").html(player2.id + ": " + player2.score);
			$("#p1").html(player1.id + ": " + player1.score);
			$("#playDiv").fadeOut();
			$("#winner").fadeIn();
		}
	}



	socket.on('upp', function(json) { 
		if(myPlayer == player1) {
			player2.y = json.player2.y;
			player2.x = json.player2.x;
		}
		else {
			player1.y = json.player1.y;
			player1.x = json.player1.x;


		}

		if(name == player2.id && json.name != name) { 
			ball = json.ball;
			player1.score = json.player1.score;
			player2.score = json.player2.score;
		}
	});


</script>


{% endblock %}