{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}

{% block body %}
  {{ macros.navbar('Home', username=username) }}
  <div id="mainContainer" class="container">
    <h1 class="text-center"> {% for i in "Welcome" %}<span>{{i}}</span>{% endfor %} {% for i in username %}<span>{{i}}</span>{% endfor %}</h1>
    <div class="row">
      <div class="col-sm-6 d1">
        <h1> TODO: News? </h1>
      </div>
      <div class="col-sm-6 d2 weatherDiv">
        <h3 class="" id="weatherTitle"> </h3>
        <h5 id="timestamp" class=""> </h5>
        <h2 id="condition">  </h2>
        <div class="weatherStats">
          <h1 id="temperature" class="text-center"> </h1> <span class="text-center" id="feelsLike"> d </span>
        </div>
        <form class="form-inline">
          <div class="form-group" id="zipDiv">
            <input type="number" class="form-control" placeholder="Zip" id="zipCode">
            <button type="button" class="btn btn-default" id="zipSubmit"> Go </button>
          </div>
        </form>
      </div>
      <div class="col-sm-3 d3">

      </div>
      <div class="col-sm-3 d4">

      </div>
      <div class="col-sm-3 d4">

      </div>
      <div class="col-sm-6 d2">

      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='dashboard.js')}}"> </script>
{% endblock %}
