{% extends 'base.html' %}

{% block content %}
{{ room_info }}
<div id="joinRoomContainer" class="container jumbotron" style="margin-top: 15px;">
	{% for flash in get_flashed_messages() %}
		{{ flash }}
	{% endfor %}
	<form method="POST" action='/pong/play'>
		<div class="row">
			<div class="col-sm-5">
				<input id="name" placeholder="Enter Username..." type="text" class="form-control">
			</div>	
			<div class="col-sm-5">
				<input id="roomCode" placeholder="Enter Room Code..." type="text" class="form-control">
			</div>	
			<div class="col-sm-2">
				<button id="joinRoom" type="button" class="btn btn-info form-control"> Join </button>
			</div>
		</div>
	</form>
</div>

<div id="startContainer" class="container" style="display: none;">
	<div class="jumbotron text-center" style="margin-top: 15px;">
		<h3 id="room"> Room:  </h3>
		<h3> Players: <span id="players"> </span> -  First player to 7 wins! </h3>
		<button id="start" type="button" class="form-control btn btn-primary"> Start </button>
	</div>
</div>
<div class="container-fluid">
	<div id="playDiv" class="text-center" style="margin-top: 5px; display: none;">
		<div class="row">
			<div class="col-sm-6">
				<h3 id="p1"> {% if room_info|length >= 1 %} {{room_info[0][0]}} {% endif %} </h3>
			</div>
			<div class="col-sm-6">
				<h3 id="p2"> {% if room_info|length >= 2 %} {{room_info[1][0]}} {% endif %} </h3>
			</div>
		</div>
		<canvas id="pong" width="1200px" height="800px"> </canvas>
	</div>
</div>

<div class="container-fluid text-center" style="display: none;" id="winner">
	<div style="margin-top: 15px;" >
		<h1 id="winnerTitle"> </h1>
		<button type="button" class="btn btn-primary" id="restart"> Play Again? </button>
	</div>
</div>

<audio controls id="blip" style="display: none;	">
  <source src="{{url_for('static', filename='sound/pong.wav') }}" type="audio/wav">
</audio>


<script>
	function getParameterByName(name, url) {
	    if (!url) url = window.location.href;
	    name = name.replace(/[\[\]]/g, '\\$&');
	    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
	        results = regex.exec(url);
	    if (!results) return null;
	    if (!results[2]) return '';
	    return decodeURIComponent(results[2].replace(/\+/g, ' '));
	}

</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
	var socket = io.connect('http://' + document.domain + ':' + location.port);
	var name;
	var room;
	socket.on('message', function(msg) { 
		console.log(msg);
	});

	/* User enters name and room code */
	$("#joinRoom").on("click", function() { 
		name = $("#name").val();
		room = $("#roomCode").val();
		socket.emit('join_pong_room', {'name': name, 'room': room});
	});

	/* User is confirmed to have joined a room */
	socket.on('joined_pong', function(json) { 
		if(json.name == name) { 
			$("#joinRoomContainer").fadeOut(function() { $("#startContainer").fadeIn(); });
		}
		$("#players").empty();
		for(var i = 0; i < json.room_info.length; i++) { 
			$("#players").append(json.room_info[i][0] + ", ");
		} 
		$("#room").html(json.room);
	});

	/* User clicks start to tell all players to start the game */
	$("#start, #restart").on("click", function() { 
		$("#winner").fadeOut();
		socket.emit('start_pong');
	});

	/* Someone clicked start pong */
	socket.on('start_pong', function(json) { 
		 init(json);
	});	
</script>

<script>
	class Player { 
		constructor(id, y=0, x=0, speed=600, score=0) { 
			this.id = id;
			this.y = y;
			this.x = x;
			this.speed = speed;
			this.score = score;
		}
	}

	class Ball { 
		constructor(x=0, y=0, ySpeed=150.0, xSpeed=750.0) { 
			this.y = y;
			this.x = x;
			this.ySpeed = ySpeed;
			this.xSpeed = xSpeed;
		}
	}

	const PADDLE_WIDTH = 20;
	const PADDLE_HEIGHT = 100;
	var canvas = document.getElementById("pong");
	var ctx = canvas.getContext("2d");
	
	var player1;
	var player2;
	var myPlayer;
	var ball = new Ball(canvas.width / 2, canvas.height / 2);

	var movingUp = false;
	var movingDown = false;

	var delta = 0;
	var time = new Date().getTime();

	function init(json) { 
		if(json.room_info.length >= 2) { 
			player1 = new Player(json.room_info[0][0], canvas.height / 2 - PADDLE_HEIGHT / 2, 10);
			player2 = new Player(json.room_info[1][0], canvas.height / 2 - PADDLE_HEIGHT / 2, canvas.width - PADDLE_WIDTH - 10);

			if(name == player1.id) { 
				myPlayer = player1;
			} else { 
				myPlayer = player2;
			}

			$("#startContainer").fadeOut(function() { $("#playDiv").fadeIn(); });

			$(window).on("keydown", function(e) { 
		        e.preventDefault();
				if(e.key == "ArrowUp") { 
					movingUp = true;
				} else if(e.key == "ArrowDown") { 
					movingDown = true;
				}
			});

			$(window).on("keyup", function(e) { 
		        e.preventDefault();
				if(e.key == "ArrowUp") { 
					movingUp = false;
				} else if(e.key == "ArrowDown") { 
					movingDown = false;
				}
			});
			time = new Date().getTime();

					setTimeout(function() { window.requestAnimationFrame(update);}, 3000);

			//setInterval(update, 1000);
		} else { 
			alert("Not enough players to start the game!");
		}
	}



	function update() { 
		var old = time;
		var collision = false; 
		time = new Date().getTime();
		delta = (time - old) / 1000;

		ctx.fillStyle = "#343638";
		ctx.fillRect(0,0,canvas.width, canvas.height);
		
		ctx.strokeStyle = "white";
		ctx.beginPath();
		ctx.moveTo(canvas.width / 2, 0);
		ctx.lineTo(canvas.width / 2, canvas.height);
		ctx.stroke();

      	ctx.beginPath();
		ctx.fillStyle = "white";
		ctx.arc(ball.x, ball.y, 8, 0, 2 * Math.PI);
		ctx.fill();

		ctx.fillStyle = "red";
		ctx.fillRect(player1.x, player1.y, PADDLE_WIDTH, PADDLE_HEIGHT);

		ctx.fillStyle = "blue";
		ctx.fillRect(player2.x, player2.y, PADDLE_WIDTH, PADDLE_HEIGHT);

		if(movingUp && myPlayer.y > 0) { 
			myPlayer.y -= myPlayer.speed * delta;
		} else if(movingDown && myPlayer.y < canvas.height - PADDLE_HEIGHT) { 
			myPlayer.y += myPlayer.speed * delta;
		}

		if(myPlayer.y <= 0) { 
			myPlayer.y += 1;
		} else if(myPlayer.y >= canvas.height - PADDLE_HEIGHT) { 
			myPlayer.y -= 1;
		}

	
		if(ball.y <= 7.5){ 
			ball.y += 5;
			ball.ySpeed = -ball.ySpeed;
		}
		else if(ball.y >= canvas.height - 7.5) { 
			ball.y -= 5;
			ball.ySpeed = -ball.ySpeed;
		}
		if(ball.x <= 7.5) { 
			player2.score++;
			ball.x = canvas.width / 2;
			ball.y = canvas.height / 2;
			ball.ySpeed = 0;
			ball.xSpeed = -ball.xSpeed;
			$("#p2").html(player2.id + ": " + player2.score);
		}
		else if(ball.x >= canvas.width - 7.5) { 
			player1.score++;
			ball.x = canvas.width / 2;
			ball.y = canvas.height / 2;
			ball.xSpeed = -ball.xSpeed;
			ball.ySpeed = 0;
			$("#p1").html(player1.id + ": " + player1.score);
		}

		//upper half
		if((ball.y < (player1.y + PADDLE_HEIGHT / 2)) && (ball.y > (player1.y)) && (ball.x > player1.x) && (ball.x < player1.x + 15 + PADDLE_WIDTH / 2)) { 
			ball.ySpeed -= 100;
			
			ball.x += 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
		}

		//lower half
		if((ball.y <= (player1.y + PADDLE_HEIGHT + 5)) && (ball.y >= (player1.y + PADDLE_HEIGHT / 2)) && (ball.x > player1.x) && (ball.x < player1.x + 15 + PADDLE_WIDTH / 2))
		{ 
			ball.ySpeed += 100;	
			
			ball.x += 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
		}

		//upper
		if((ball.y < (player2.y + PADDLE_HEIGHT / 2)) && (ball.y > (player2.y)) && (ball.x > player2.x - 5 - PADDLE_WIDTH / 2) && (ball.x < player2.x))
		{ 	
			ball.ySpeed -= 100;
			ball.x -= 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
		}

		//lower
		if((ball.y < (player2.y + PADDLE_HEIGHT + 5)) && (ball.y > (player2.y + PADDLE_HEIGHT / 2)) && (ball.x > player2.x - 5 - PADDLE_WIDTH / 2) && (ball.x < player2.x)) { 
			ball.ySpeed += 100;	
			ball.x -= 5;
			ball.xSpeed = -ball.xSpeed;
			document.getElementById("blip").play();
		}

		//if(myPlayer == player1) { 
			ball.x += ball.xSpeed * delta;
			ball.y += ball.ySpeed * delta;
			ball.xSpeed += 10 * delta;
			ball.ySpeed += 10 * delta;
		//}
		
		myPlayer.speed += 10 * delta;

		socket.emit('upp', {'name': myPlayer.id, 'y': myPlayer.y, 'ballx': ball.x, 'bally': ball.y, 'ballxSpeed': ball.xSpeed, 'ballySpeed': ball.ySpeed, 'room': room});

		if(player1.score < 7 && player2.score < 7)
			window.requestAnimationFrame(update);
		else { 
			if(player1.score >= 7) { 
				$("#winnerTitle").html(player1.id + " wins!");
			} else { 
				$("#winnerTitle").html(player2.id + " wins!");
			}

			player2.score = 0;
			player1.score = 0;
			$("#p2").html(player2.id + ": " + player2.score);
			$("#p1").html(player1.id + ": " + player1.score);
			$("#playDiv").fadeOut();
			$("#winner").fadeIn();
		}
	}

	socket.on('upp', function(json) { 
		if(json.name != name) { 
			if(player1.id == json.name) { 
				player1.y = json.y;
			} else { 
				player2.y = json.y;
			}
		}
		if(json.name == player1.id && name == player2.id) {
			ball.x = json.ballx;
			ball.y = json.bally;
			ball.xSpeed = json.ballxSpeed;
			ball.ySpeed = json.ballySpeed;
		}
	});
</script>


{% endblock %}